#aboutMe{
    padding-top: 1px;
    background-color: rgba(128, 128, 128, 0.2);
    display: flex;
    justify-content: center;
}

.aboutbody{
    box-sizing: border-box;
    width: fit-content;
    max-width: 1200px;
    height: fit-content;
    /*background-color: #ff253a;*/
    display: flex;
    align-items: center;
    padding: 40px;
}

.title>h1{
    color: gray;
    margin-top: 35px;
    font-size: 40px;
}

.title>p{
    margin-top: 0;
}

.content .Main_image{
    background-color: aqua;
}

