/**
 * --------------------------------------------
 * Author: Heshan Dinuka Lakmal
 * GitHub: https://github.com/Dinuka0512
 * --------------------------------------------
 * Created: 3/8/2025$ 8:46 AM$
 * Project: untitled$
 * --------------------------------------------
 **/

#BgImage01{
    width: 100%;
    height: fit-content;
    position: relative;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    transition-duration : .5s;
    overflow: hidden;
}

#BgImage01:hover{
    transform: scale(1.1);
}