.hero{
    width: 100%;
    height: fit-content;
    /* background-color: red; */
}

#heroContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px 0 100px;
    margin-bottom: 100px;
}

#hero{
    margin-top: 100px;
    width: fit-content;
    height: fit-content;
    max-width: 1200px;
    display: flex;
    justify-self: center;
}

main div>section>button{
    margin-bottom: 8px;
    padding: 10px 25px 10px 25px;
    border: none;
    border-radius: 7px;
    transition-duration: 1s;
}

button:hover{
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: rgba(223, 220, 220, 0.3) 0px 4px 16px, rgba(142, 141, 141, 0.2) 0px 8px 32px;
}

.sec01>h3:nth-child(1){
    margin-bottom: 0;
    color: gray;
}

.sec01>h1{
    margin: 0;
    font-size: 90px;
}

.sec01>h2{
    margin-top: 0;
    font-size: 32px;

}



.sec01>h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .35px rgba(255, 255, 255, 0.727);
    animation: display-text 11s linear infinite;
    animation-delay: calc(-3s * var(--i));
}

@keyframes display-text{
    20%,100%{
        display: none;
    }
}

.sec01>h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: .2rem solid rgba(186, 153, 91, 0.155);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 3s linear infinite;
}

@keyframes fill-text{
    10%, 100%{
        color: rgba(255, 255, 255, 0.211);
        width: 0;
    }

    70%,90%{
        width: 100%;
    }
}


.sec01>p{
    font-weight: lighter;
    font-size: 16px;
}

main{
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/images/img.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

#mainImage{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    mix-blend-mode: lighten;
}

#bars-Animations{
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    pointer-events: none; 
    /* By set the pointer events none can click throught elements */
}

.bar{
    height: 100%;
    width: 100%;
    

    animation-name: opening;
    animation-duration: calc(.2s * var(--i)); 
    animation-iteration-count:  1;
    animation-timing-function: ease-in-out;
}

@keyframes opening {
    0% {

        background-color: rgba(255, 255, 255, 0.337);
        opacity: 1;
    }
    100% {
        transform: translateX(-100vw);
    }
}


@media all and (max-width: 800px){
    #heroContainer{
        flex-direction: column;
    }

    .sec01>h1{
        font-size: 60px;
    }
}

@media all and (max-width: 500px){
    .sec01>h1{
        font-size: 45px;
    }

    .sec01>h2{
        font-size: 20px;
    }

    #heroContainer{
        padding: 0 60px 0 60px;
        margin-bottom: 50px;
    }
}

