#EDU{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.553);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.container{
    margin: 50px 0 50px 0;
    width: 100%;
    height: fit-content;
    max-width: 1200px;
    background-color:rgba(128, 128, 128, 0.2);
    padding: 50px;
    border-radius: 20px;
}

.cardContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;

    margin-bottom: 40px;
}

.card{
    width: 100%;
    height: 250; /* HERE TEMPORY VALUE*/
    background-color: rgba(67, 67, 67, 0.619);
    border-radius: 20px;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card>div>h2,.card>div>h5 {
    margin: 0;
}


/* My Experiences css */
#ExCardContainer{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.ExCards{
    width: 100%;
    height: 250px;
    background-color: rgba(67, 67, 67, 0.619);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 15px;
    text-align: center;
}

.ExCards>div>p{
    font-size: 12px;
    margin-bottom: 1px;
}

.ExCards>div>h3{
    margin: 0;
}

.ExCards>div>h5{
    margin-top: 8px;
    margin-bottom: 0px;
    color: #9494943e;
}