#MyservicesContainer{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
}

#Myservices{
    max-width: 1200px;
    padding: 50px;
    width: fit-content;
    height: fit-content;
    background-image: url("../images/light.png");
    background-size: cover;
    background-position: bottom;
}

.ServisesContainer{
    width: fit-content;
    height: fit-content;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.247);
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    left: 0;
    right: 0;
    margin: auto;
}

.serviceCard{
    padding: 20px;
    width: 250px;
    height: auto;
    border-radius: 10px;
    background-color: rgba(24, 24, 24, 0.458);
    align-content: center;
}


@media all and (max-width: 1125px){
    .ServisesContainer{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (max-width: 870px){
    .ServisesContainer{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 615px){
    .ServisesContainer{
        grid-template-columns: repeat(1, 1fr);
    }
}