#projects{
    width: 100vw;
    background-color: rgba(112, 112, 112, 0.2);
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-container{
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    padding: 35px;
}

#textP{
    text-align: center;
}

.projCon{
    width: 100%;
    height: fit-content;
    background-color: rgba(56, 56, 56, 0.784);
    border-radius: 10px;
    padding: 20px;
}

#proNav>ul{
    width: 80%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 5px;
    justify-self: center;
}

#proJCardContainer{
    width: 95%;
    height: fit-content;
    display: flex;
    justify-self: center;
    justify-content: center;
    gap: 15px;
}

.projCard{
    width: 300px;
    height: fit-content;
    padding: 10px;
    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.pCard{
    width: 270px;
    height: fit-content;
    border-radius: 10px;
    background-color: black;
    padding: 15px;
}

.c1{
    background-image: url(../images/projects/library.png);
    mix-blend-mode: multiply;
    background-size: cover;
}

.PbtnCon>button{
    padding: 10px 25px 10px 25px;
    border: none;
    border-radius: 7px;
    transition-duration: 1s;
    background-color: green;
    color: white;
}

.PbtnCon>button>a{
    text-decoration: none;
    color: white;
}

.PbtnCon>button:hover{
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: rgba(223, 220, 220, 0.3) 0px 4px 16px, rgba(142, 141, 141, 0.2) 0px 8px 32px;
}